<html>
    <head>
        <title>Try cscript right on your browser!</title>
    </head>

    <body>
        <h2><tt>CScript</tt> is a scripting programming language, you may try it here.</h2>

        <p>
        CScript's interpreter's homepage: <a href="https://github.com/shouya/ruby-cscript">https://github.com/shouya/ruby-cscript</a>. <br />
        try-cscript website's source: on <a href="https://github.com/shouya/try-cscript">https://github.com/shouya/try-cscript</a>.
        </p>

        <p>
        <form action="syntaxtree" method="POST">
            <p>Write your cscript code below:</p>
            <textarea name="data" id="data" style="width: 800px; height: 200px">
def is_prime(n) {
    i = 1;
    if (n == 1) return false;

    while ((i = i + 1) < n) {
        if (n % i == 0) {
            return false;
        }
    }
    return true;
}

i = 1;
while (i <= 100) {
   if (is_prime(i)) {
       EMIT i;
   }
   i = i + 1;
}

</textarea><br />
            <input type="submit" value="Go syntatx tree!" /> <br />
            <input type="submit" value="Run it!" onclick="this.form.action='/run';" />
        </form>
        </p>

        <hr />
        <p>
            Contact me via:
            <ul>
                <li>Email: zxyzxy12321 (AT) gmail.com </li>
                <li>Twitter: <a href="http://twitter.com/54c3">@54c3</a></li>
            </ul>
        </p>
    </body>
</html>

