<html>
    <head>
        <title>Results of execution</title>
    </head>
    <body>
        <h2>Here's the emissions</h2>
        <ul>
        <% results.each do |value| %>
            <li><%= value %></li>
        <% end %>
        </ul>
        <a href="/">Back!</a>
    </body>
</html>
