<html>
    <head><title>Syntax Tree</title></head>

    <body>
        <h2> Here's the generated syntax tree </h2>
        <p>
            <a href="/">Back</a>
        </p>
        <pre style="background-color: lightblue">
<%=tree%>
        </pre>
        <p>
            <a href="/">Back!</a>
        </p>
    </body>
</html>
